{% extends 'base.html' %}

{% block content %}
    <div class="login-container container">
        
        {% if form.errors %}
            <div class="login-error">
                <h3>There was an error with your username or password</h3>
            </div>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page</p>
            {% endif %}
        {% endif %}
    
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-area">
                <label>{{ form.username.label_tag }} </label>
                {{ form.username }}
            </div>
            <div class="form-area">
                <label>{{ form.password.label_tag }} </label>
                {{ form.password }}
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
              <input type="hidden" name='next' value="{{next}}">
        </form>
    
        <p><a href="{% url 'password_reset' %}">Lost Password??</a></p>
        <p><a href="{% url 'signup' %}">Rather SignUp</a></p>
    </div>
{% endblock content %}