body{
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

@media screen and (max-width: 993px){
    .bscreen-account{
        display: none;
    }
}

@media screen and (min-width: 650px){
    .s-screen-account{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .brand-logo{
        left: 10px !important;
        transform: translateX(0%) !important;
    }
}

@media screen and (min-width:993px){
    .sidenav-trigger{
        display: block !important;
    }
    .fixed-action-btn{
        display: none !important;
    }
}

.header-container{
    display: flex;
    overflow-x: hidden;
    min-height: 70vh;
    justify-content: center;
    align-items: stretch;
}

.nav-fixed .material-icons{
    margin-top: 5px;
}

.left-header{
    text-align: center;
    margin: auto;
}

.left-header-title{
    font-size: 38px;
    line-height: 38px;
    font-weight: 900;
}

.left-header > p{
    color: #111;
    font-weight: 400;
}

.left-header, .right-header{
    flex: 0.5;
}

@media screen and (max-width: 950px){
    .header-container{
        flex-direction: column;
        text-align: center;
    }
}

.form-container .btn{
    width: 100% !important;
}

.form-container{
    background-color: #ee6e73;
    border-radius: 10px;
    padding: 20px;
}

.login-container{
    margin-top: 50px;
    background-color: #ddd;
    padding: 20px;
}

.login-container .form-area label{
    color: #111;
    font-size: large;
}

.user-url-link{
    height: auto !important
}

.url-result h3{
    font-size: smaller;
}